include ../../../../base/partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Email
.col-xs-12
  +formInput({ label: 'Email', placeholder: 'Email', name: 'email', type: 'text' })

//- Submit
.col-xs-12
  +submitButton({})
