include ../../../../base/partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Phone
.col-xs-12
  +formInput({ label: 'Phone', placeholder: 'Phone', name: 'phone', type: 'text' })

//- Submit
.col-xs-12
  +submitButton({})
