include ../../../../../../partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Social
.col-xs-12
  +formInput({ label: 'Username', placeholder: 'username', name: 'username', type: 'text' })

.col-xs-12
  +formSelect({ label: 'Service', placeholder: 'Service', name: 'service', type: 'text', options: ['facebook', 'twitter', 'linkedin'] })

//- Submit
.col-xs-12
  +submitButton({})
