.row
  .col-xs-12
    h4 Update Dispatches

.row.m-t-1
  .col-xs-12

    ul.list-group
      each update in items

        a.list-group-item
          .row
            .col-xs-12
              .text-muted= update.label

          //- .row
          //-   .col-xs-12.json-viewer
          //-     pre
          //-       for each in JSON.stringify(update.cache, null, 2).split("\n")
          //-         span= each

