.row
  .col-xs-12
    h4 Update Dispatches

.row.m-t-1
  .col-xs-12
    a.btn.btn-primary-outline.w-100( data-click='sync' )
      i.fa.fa-fw.fa-refresh
      | SYNC

.row.m-t-1
  .col-xs-12(data-region='list')
