include ../../../../../../partials/form_helpers

.row
  .col-xs-12
    h4 Sign In

  .col-xs-12
    +formInput({ label: 'Email', placeholder: 'Email', name: 'email', type: 'email' })

  .col-xs-12
    +formInput({ label: 'Password', placeholder: 'Password', name: 'password', type: 'password' })

  .col-xs-12
    +submitButton({})
