.row
  .col-xs-12
    h4 Contact List

  .col-xs-12
    a.btn.btn-primary-outline.w-100( href='#contacts/add_manual' )
      i.fa.fa-fw.fa-plus

.row.m-t-1
  .col-xs-12
    ul.list-group
      each contact in items
        if contact.displayName
          a.list-group-item( href='#contacts/' + contact.id )
            .row
              if contact.photos[0]
                .col-xs-2
                  img.img-circle( src=contact.photos[0].value, style='width:2rem;' )
              else
                .col-xs-2
                  img.img-circle( src='img/placeholder.svg' style='width:2rem;')

              .col-xs-10= contact.displayName
