include ../../../../../../partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Contact Method IDs
.col-xs-12
  +formInput({ label: 'Contact Method IDs', placeholder: 'Contact Method IDs', name: 'contact_method_ids', type: 'text' })

//- Submit
.col-xs-12
  +submitButton({})
