include ../../../../../../partials/form_helpers

.col-xs-12( data-region='contact_methods' )

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Contact Method IDs
.col-xs-12
  //- +formInput({ label: 'Contact Method IDs', placeholder: 'Contact Method IDs', name: 'contact_method_ids', type: 'text' })

  select( name='contact_method_ids', multiple=true, hidden=true )
    each opt in items
      option= opt._id


//- Submit
.col-xs-12
  +submitButton({})
