.row
  .col-xs-12
    h4 Contact Method Show

  //- .col-xs-12
  //-   ul.list-group
  //-     li.list-group-item= id
  //-     li.list-group-item= displayName
  //-     li.list-group-item
  //-       if photos[0]
  //-         img.img-circle( src=photos[0].value, style='width:2rem;' )
  //-       else
  //-         img.img-circle( src='img/placeholder.svg' style='width:2rem;')

  .col-xs-12.json-viewer
    pre
      for each in json
        span= each
