include ../../../../../../partials/form_helpers

.row
  .col-xs-12
    h4 Add Contact

  .col-xs-12
    +formInput({ placeholder: 'Name', name: 'displayName', type: 'text' })

  .col-xs-12
    +formInput({ placeholder: 'Phone Number', name: 'phone', type: 'number' })

  .col-xs-12
    .text-muted Select a Share Profile
    input( name='share_profile_id', type='hidden' )

  .col-xs-12( data-region='share-profiles')

.row.m-t-1
  .col-xs-12
    +submitButton({})
