include ../../../../../../partials/form_helpers

//- Label
.col-xs-12
  +formInput({ label: 'Label', placeholder: 'Label', name: 'label', type: 'text' })

//- Social
.col-xs-12
  +formInput({ label: 'Social', placeholder: 'Social', name: 'social', type: 'text' })

//- Submit
.col-xs-12
  +submitButton({})
