.row
  .col-xs-12
    h4 Share Profiles

  .col-xs-12
    a.btn.btn-secondary.w-100( href='#share_profiles/new' )
      i.fa.fa-fw.fa-plus

  .col-xs-12.m-t-1

    ul.list-group
      each profile in items

        a.list-group-item( href='#share_profiles/' + profile._id )
          .row
            .col-xs-12= profile.label
            .col-xs-12= profile.cached.length
