nav.navbar.navbar-inverse.navbar-static-top

  a.navbar-brand( href='#' )
    i.fa.fa-fw.fa-thumb-tack
    | &nbsp;
    | Tack

  ul.nav.nav-pills.pull-right

    li.nav-item
      a.nav-link.disabled
        i.fa.fa-fw.fa-user
        = user

    //- li.nav-item
    //-   a.nav-link( href='#devices' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-bluetooth-b
    //-     |Devices

    //- li.nav-item
    //-   a.nav-link( href='#contact_methods' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-user
    //-     |Contact Methods


    //- li.nav-item
    //-   a.nav-link( href='#share_profiles' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-list
    //-     |Share Profiles

    //- li.nav-item
    //-   a.nav-link( href='#auth/sign_in' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-user
    //-     |Sign In

    //- li.nav-item
    //-   a.nav-link( href='#auth/register' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-user
    //-     |Register

    //- li.nav-item
    //-   a.nav-link( href='#auth/reset' style='touch-action:none;' )
    //-     i.fa.fa-fw.fa-user
    //-     |Reset

    //- li.nav-item
    //-   a.nav-link( href='#about' )
